<% layout('layouts/boilerplate') %>

<h1>Edit your group</h1>
<form action="/groups/<%=group._id %>?_method=PUT" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="Group[username]" id="username" value="<%= group.username.name %> " required>
    <label for="groupName">Name of the Group:</label>
    <input type="text" name="Group[name]" id="groupName" value="<%=group.name%>" required>
    <label for="members">Number of Members</label>
    <input type="number" name="Group[members]" id="members" value="<%= group.members%>" required>
    <ul>
    <% for(let member of group.membersName){ %>
        <li>
            <label for="member[<%= member.name %>] ">Member</label>
            <input type="text" name="Group[membersName]" id="member[<%= member.name %>] " value="<%= member.name %>" required>
        </li>    
    <% } %>
    </ul>      
    <button type="submit">Save!</button>
</form>