<% layout('layouts/boilerplate') %>
    <h1>Profile</h1>
    <p>Name: <%= person.name %> </p>
    <p>Last Name: <%= person.last %> </p>
    <div>
        <h2>Friends</h2>
        <% for(let friend of person.friends) {%>
            <ul>
                <li><a href="/groups/person/<%= friend._id %> "><%= friend.name %> <%= friend.last %></a></li>
            </ul>
        <% } %>      
    </div>
    <div>
        <h2>Group/s-</h2>
        <% for(let group of person.groups) {%>
            <ul>
                <li><a href="/groups/<%= group._id %> "><%= group.name %></a></li>
            </ul>
        <% } %>      
    </div>
